<div class="main-background">
  <div class="task-header">
    <div class="task-head-left">
      <h1 class="task-title">タスク登録</h1>
      <h2><%= link_to 'タスク一覧', tasks_path, class: "task-btn" %></h2>
    </div>
    <div>
      <h2><%= link_to 'トップへ戻る', root_path, class: "task-head-right"  %></h2>
    </div>
  </div>
  <%= form_with model: @task, local: true do |form| %>
    <div class="">
      <div class="show-title">
        <%= form.label :タイトル： %>
        <%= form.text_field :title %>
      </div>
      <div class="show-title">
        <%= form.label :詳細：, class:"detail-font" %>
        <%= form.text_area :detail %>
      </div>
      <div class="show-title">
        <%= form.label :締切日時：%>
        <%= form.datetime_select :deadline %>
      </div>
      <div class="show-title">
        <%= form.label :優先順位： %>
        <%= form.collection_select(:priority_id, Priority.all, :id, :name, {}) %>
      </div>
      <div class="edit-btn">
        <%= form.submit "登録", class: "edit-submit"%>
      </div>
    </div>
  <% end %>
</div>