<div class="show-main">

  <h2 class="edit-title">イベント登録</h2>
  
  <%= form_with model: @event, local: true do |form| %>
    
    <div class="show-title">
      <%= form.label :タイトル： %>
      <%= form.text_field :title %>
    </div>

    <div class="show-title">
      <%= form.label :内容： %>
      <%= form.text_field :content %>
    </div>

    <div class="show-title">
      <%= form.label :日時： %>
      <%= form.datetime_select :start_time %>
    </div>


    <div class="edit-btn">
      <%= form.submit "イベント追加", class: "edit-submit"%>
    </div>

  <% end %>
</div>