<div class="main-background">
  <div class="task-header">
    <div class="task-head-right">
      <h1 class="task-title">資料一覧</h1>
      <h2><%= link_to '一覧へ戻る', storages_path %></h2>
    </div>
    <div class="task-head-left">
      <h2><%= link_to 'トップへ戻る', root_path %></h2>
    </div>
  </div>
    <h2 class="show-title">[タイトル] <%= @storage.title %></h2>
    
    <h2 class="show-title">
    <p>[資料]</p>
    <% @storage.images.each do |image| %>
    <%= image_tag image.variant(resize: '150x150'), class: 'images' %>
    <% end %>
    </h2>
    <h2 class="show-title">※備考 <%= @storage.detail %></h2>
  
  
  <div class="show-footer">
    <div class="footer-ed">
      <p> <%= link_to '削除', storage_path(@storage.id), method: :delete %> </p>
    </div>
  </div>

</div>