<div class="main-background">
  <div class="memo-header">
    <div class="memo-head-left">
      <h1 class="memo-title">メモ一覧</h1>
    </div>
    <div class="memo-head-right">
      <h2><%= link_to 'トップへ戻る', root_path %></h2>
    </div>
  </div>

  <div class="memo-main">
    <% @memos.reverse_each do |memo| %>
      <div class="memos">
        <div class="upper-memo">
          <div class="memo-user"><%= memo.user.name %></div>
          <div class="memo-date"><%= memo.created_at.strftime("%Y/%m/%d") %></div>
          <div class="memo-delete"><%= link_to '削除', memo_path(memo.id), method: :delete %></div>
        </div>
        <div class="lower-memo">
          <div class="memo-content"><%= memo.memo %></div>
        </div>
      </div>
    <% end %>
  </div>
    
  <%= form_with model: @memo, local: true do |form| %>
    <div class="memo-form">
      <div class="memo-form-input">
        <%= form.text_field :memo, placeholder: "メモ入力", class: "form-memo" %>
      </div>
      <%= form.submit "登録", class: "form-memo-submit"%>
    </div>
  <% end %>
</div>
