<div class="main-background">
  <div class="memo-header">
    <div class="memo-head-right">
      <h1 class="memo-title">メモ登録</h1>
      <h2><%= link_to 'メモ一覧', memos_path %></h2>
    </div>
    <div class="memo-head-left">
      <h2><%= link_to 'トップへ戻る', root_path %></h2>
    </div>
  </div>

  <%= form_with model: @memo, local: true do |form| %>
    <div class="show-title">
      <%= form.text_field :memo, size: "50", placeholder: "メモ入力" %>
    </div>
    <div class="edit-btn">
      <%= form.submit "登録", class: "edit-submit"%>
    </div>
  <% end %>
</div>